// out: false
@import "variables.less";

.breadcrumbs-container {
    margin-bottom: 10px;
}

.breadcrumb {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline;

        a {
            display: inline-block;
            padding: 10px;
            padding-left: 0px;
            text-decoration: none;

            &:hover {
                color: @color-accent-primary;
                //background-color: @color-dark-2;
            }
        }

        &.desktop-crumb {
            &:last-of-type
            {
                color: orange;
                a {
                    &:hover {
                        color: @color-font;
                        background: none !important;
                        cursor: default;
                    }
                }
            }
        }
    }

    li+li {
        &::before {
            color: darken(@color-font, 10%);
            content: "/\00a0";
        }
    }
}