// out: false
@import "variables.less";

footer {
    width: 100%;
    background-color: @color-footer-bg;

    border-top: 2px solid lighten(@color-footer-bg, 20%);

    min-height: 200px;
    margin-top: 50px;

    padding-top: 20px;


    .halloween-countdown {
        font-size: 2em;
        margin-top: 20px;
    }

    .copyright {
        text-align: center;

        margin-top: 30px;
        margin-bottom: 20px;
    }

    #custom-footer-section {
        @media @responsive-second-size {
            h2 {
                display: block !important;

                margin-left: 0 !important;
            }
        }
    }

}