// out: false
@import "variables.less";

.half-width-form {
    width: 50%;

    @media @responsive-first-size {
        width: 100%;
    }
}

.form-control {
    padding: 8px 12px;
    font-size: 1em;
    line-height: 1em;
    border: 2px solid #ddd;
    background-color: white;
    color: #555;

    width: 100%;

    &.half-width {
        width: 50%;
    }

    &.quarter-width {
        width: 25%;
    }
}

.invisible-input {
    background-color: transparent !important;
    border: none;
    outline: none;
    color: @color-font !important;
    font-size: 1.5em;
}

input {
    &.form-control {
        &:hover, &:active, &:focus {
            border-color: @color-accent-primary;
        }
        &:focus-visible {
            outline: none;
        }
    }
}

input[type="radio"] {
    position: absolute;
    opacity: 0;

    + .label-text::before {
        font-family: "FontAwesome";
        content: "\f10c";
        cursor: pointer;
    }

    &:checked  + .label-text::before {
        content: "\f192";
        color: @color-accent-primary;
    }

    + .label-text {
        cursor: pointer;
    }

}

.form-group {
    margin-bottom: 20px;

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &.date-select {
        .row {
            margin-left: -5px;

            .col-xs-4 {
                width: 33.3%;
                padding: 0 5px;
                float: left;
            }
        }
    }
}

fieldset {
    border: none;
    padding: 0;
}
