@import "fonts.less";
@import "variables.less";

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1rem;

    background-color: @color-bg;
    color: @color-font;

    margin: 0;
    padding: 0;
}

a {
    color: @color-accent-primary;
    text-decoration: none;

    &:hover, &:focus {
        color: @color-accent-secondary;
    }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.clearfix {
    clear: both;
}


.wrapper {
    width: 80%;

    &.slightly-smaller {
        width: 78%;
    }

    @media @responsive-first-size {
        width: 100% !important;
    }
}



.main-container {
    margin: 0 auto;
}

@import "header.less";
@import "footer.less";
@import "media.less";