@import "fonts.less";
@import "variables.less";


html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1em;

    background-color: @color-bg;
    color: @color-font;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


#page-content {
    flex: 1;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    line-height: 1em;

    &.no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    &.small-margin {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

a {
    text-decoration: none;
    color: @color-font;
    cursor: pointer;

    &.textlink, &.textlink-nostyle {
        text-decoration: underline;

        &:hover {
            color: @color-accent-primary;
        }
    }

    &.textlink-nostyle {
        text-decoration: none;
    }
}

a.link {
    color: @color-accent-primary;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.small {
    font-size: 0.8em;
    font-weight: normal;
}

.accent-color, .color-accent {
    color: @color-accent-primary;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input[data-invalid='true'] {
    outline: 2px solid @color-error;
}


.clearfix {
    clear: both;

    &::after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
    }
}

.clearfix-after::after{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

main {
    .clearfix;
}

.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.bg-color-light {
    background-color: @color-dark-2;
}

.bg-color-dark {
    background-color: @color-dark-1;
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-error {
    color: @color-error;
}

.text-success {
    color: @color-success;
}

.main-container {
    margin: 0 auto;
}


.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.spooky-font {
    font-family: 'Creepster', Verdana, Arial, sans-serif;
    line-height: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
}

.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.list-grid {
    .list-unstyled;
    display: block;
    padding: 0;

    .noselect;


    .grid-item {
        position: relative;
        width: 25%;

        display: inline-block;
        vertical-align: top;
        float: none;

        .noselect;

        .grid-item-wrapper {
            padding: 15px;
            display: block;

            &:hover {
                outline: 1px solid @color-accent-primary;
                cursor: pointer;
            }
        }

        @media @responsive-first-size {
            width: 50%;
        }

        @media @responsive-second-size {
            width: 100%;
        }

    }
}

.section-title {
    font-size: 3em;
    .spooky-font;
}


.no-desktop {
    display: none !important;
}

@media @responsive-second-size {
    .no-desktop {
        display: inherit !important;
    }

    .no-mobile {
        display: none !important;
    }
}


.ui-tag {
    &:first-of-type {
        margin-top: 0px !important;
    }

    padding: 10px;
    margin-top: 5px;

    cursor: default;

    .ui-tag-title {
        font-weight: bold;
    }

    b {
        font-weight: 600;
    }

    .email {
        font-size: 1.3em;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.bold {
    font-weight: bold;
}




.loading-overlay {
    position: relative;
    pointer-events: none;
    cursor: not-allowed;

    .noselect;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5) url("../img/preloader.gif") no-repeat center center;
        z-index: 110;
    }
}




.pager {
    .list-unstyled;
}

.unvisible {
    display: none;
}

sup {
    &.required {
        color: @color-accent-primary !important;
    }
}



.nav {
    padding-left: 0;
    list-style: none;

    &.nav-justified {
        width: 100%;

        li {
            display: table-cell;
            width: 1%;

            float: none;

            a {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        position: relative;
        cursor: pointer;

        a {
            position: relative;
            display: block;
            padding: 10px 15px;
        }
    }

    &.nav-pills {
        li {

            &:hover {
                background-color: @color-dark-2;
            }

            &.active {
                a {
                    background-color: @color-accent-primary;
                    color: white;
                }

                &:hover {
                    background-color: @color-accent-primary;
                }
            }

            &.completed {
                background-color: @color-dark-3; //#8a8a8ae3;
            }

            a {
                border-radius: 0;
            }

        }
    }
}

.box {
    padding: 10px;
    margin: 0 0 20px;
    background-color: @color-dark-2;
    outline: 2px solid lighten(@color-dark-2, 10%);
}


@import "template.less";

@import "product-labels.less";
@import "product-list.less";
@import "alerts.less";

@import "forms.less";
@import "tables.less";
@import "buttons.less";

/* Pages that don't auto-include styling  (MUST BE SCOPED -- DO NOT MESS WITH GLOBAL SCOPE IN THESE FILES)*/
@import "cart.less";

@import "header.less";
@import "footer.less";
@import "media.less";