// out: false
@import "variables.less";

@header-height: 100px;
@header-small-height: 71px;

header {
    width: 100%;
    background-color: @color-header-bg;

    .header-center {
        height: @header-height;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-wrapper {
        margin: 0 auto;
    }

    .header-top {
        .shop-logo {
            width: auto;
            float: left;
            margin-right: 20px;

            .header-center;
        }

        .header-right {
            width: auto;
            float: right;

            .header-center;
        }

        .header-search-bar {
            width: 33.3%;
            float: left;

            text-align: left;

            .header-center;

            form {
                width: 100%;
            }

            .searchbox {
                padding: 10px;
                outline: none;
                border: none;

                height: @search-height;
                width: 80%;

                &:hover {
                    outline: 2px solid @color-accent-secondary;
                    cursor: text;
                }
            }

            .searchbtn {
                height: @search-height;
                background: none;
                border: none;
                outline: none;
                color: @color-font;

                border-top: 1px solid white;
                border-right: 1px solid white;
                border-bottom: 1px solid white;

                margin-left: -6px;

                &:hover {
                    background-color: @color-accent-secondary;
                    cursor: pointer;
                }
            }
        }


        @media @responsive-second-size {
            .shop-logo, .header-search-bar {
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }

            .shop-logo {
                img, a {
                    margin: 0 auto;
                }
            }

            .shop-logo, .header-right, .header-search-bar {
                height: @header-small-height;
            }
        }
    }

    nav {
        display: block;
        clear: both;

        background-color: @color-nav-bg;

        width: 100%;
        height: @nav-height;

        .menu-content {
            margin: 0;
            background: none;

            li {
                height: @nav-height !important;
                background-color: transparent;
                outline: none;
                border: none;
                color: @color-font !important;

                display: flex;
                flex-direction: row;
                align-items: center;

                a {
                    text-shadow: none !important;
                    color: @color-font;
                    font-size: 1.2em;
                    text-transform: uppercase;
                }

                &:hover, &:focus {
                    cursor: pointer;
                    background-color: @color-accent-secondary;

                    & > a {
                        background-color: @color-accent-secondary !important;
                    }

                    ul {
                        top: @nav-height !important;
                        left: 2px;
                        display: block;
                        margin-top: 2px;
                    }
                }


                a:hover, a:focus, a:active {
                    background: none !important;
                    color: @color-font !important;
                }

                ul {
                    display: none;
                    background-color: @color-nav-bg;
                    outline: 2px solid @color-accent-secondary;
                }
            }
        }
    }


    .sf-sub-indicator {
        display: none !important;
    }
}