@import "variables.less";

.product-wrapper {
    padding-top: 10px;

    .product-header {
        margin-bottom: 30px;

        .product-header-left {
            width: 41%;
            float: left;

            @media @responsive-second-size {
                width: 100%;
                float:  none;
                text-align: center;

                .product-image {
                    margin: 0 auto;
                }
            }

            .product-image-block {
                position: relative;
                cursor: pointer;
                padding: 0;
                border: none;

                display: block;

                margin-bottom: 20px;



                .fullImageLink {
                    cursor: pointer;

                    .magnify-image {
                        display: none;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;


                        .magnify-image-container {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            cursor: pointer;

                            background-color: fade(@color-nav-bg, 40%);
                        }

                        i {
                            font-size: 3em;
                        }
                    }

                    &:hover {
                        .magnify-image {
                            display: flex;
                        }

                    }
                }
            }
        }


        .product-header-right {
            width: 59%;
            float: left;

            padding-left: 10px;

            @media @responsive-second-size {
                width: 100%;
                float: none;
                padding-left: 0;
                margin-top: 10px;
                text-align: center;
            }

            h1 {
                font-size: 3em;
            }

            .sku {
                font-size: 0.8em;
                cursor: default;
                margin-top: 0px;
            }

            #short_description_block {
                line-height: 1.2em
            }

            .product-actions {
                margin-top: 10px;

                #buy_block {
                    .price-display {
                        font-size: 2em;
                        cursor: default;
                        line-height: 1em;

                        display: inline-block;

                        margin-top: 10px;
                        margin-bottom: 20px;

                        .old-price {
                            color: @color-font;
                            text-decoration: line-through;
                            font-size: 0.8em;
                            margin-right: 10px;
                        }

                        .current-price {
                            font-weight: bold;
                        }


                        .reduction-label {
                            display: inline-block;
                            cursor: default;

                            margin-top: -5px;
                            margin-left: 10px;

                            vertical-align: middle;

                            padding: 0 5px;
                            font-size: 0.6em;

                            background-color: green;
                            text-transform: uppercase;
                        }
                    }


                    .product_attributes {
                        .attribute_fieldset {
                            border: none;
                            padding-left: 0;
                        }
                    }

                    .box-cart-bottom {
                        .quantities-container {
                            margin-bottom: 10px;
                        }

                        .input-group {
                            float: left;
                            position: relative;
                            display: table;
                            border-collapse: separate;

                            margin-top: 5px;

                            @media @responsive-second-size {
                                margin-top: 10px;
                                width: 100%;
                                margin: 0 auto;
                            }

                            .form-control {
                                position: relative;
                                z-index: 2;
                                float: left;
                                margin-bottom: 0;
                            }

                            #quantity_wanted {
                                width: 100px;
                                height: 40px;
                                border-right: none;
                                outline: none;
                                border: none;
                                font-size: 1.5em;

                                &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                                    width: 50px;
                                    height: 40px;
                                }
                            }

                        }

                        #add_to_cart {
                            display: inline-block;
                            margin-top: 0px;
                            margin-left: 15px;

                            @media @responsive-second-size {
                                margin-left: 0;
                            }

                            button {
                                height: 40px;

                                padding: 6px 12px;

                                display: block;
                                width: 100%;

                                font-size: 1.2em;

                                cursor: pointer;

                                border: none;
                                outline: none;

                                background-color: @color-accent-primary;
                                color: white;

                                &:hover {
                                    background-color: white;
                                    color: @color-accent-primary;
                                }
                            }
                        }
                    }

                    .attribute_fieldset {
                        .attribute_label {
                            font-size: 1em;
                            font-weight: normal;
                        }

                        .form-control {
                            width: unset;
                            padding: 5px;
                        }
                    }
                }
            }
        }


        .images-list {
            .thumbnail-link {
                display: inline-block;
                height: 100%;
                cursor: pointer;

                &.shown {
                    outline: 2px solid @color-dark-2;
                }

                &:hover {
                    outline: 2px solid @color-accent-primary;
                }
            }

            .image-preload {
                display: none;
                width: 0;
                height: 0;
            }

            .video-thumbnail {
                position: relative;
                display: inline-block;
                cursor: pointer;

                &:before {
                  position:absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  -webkit-transform: translate(-50%, -50%);
                  content: "\f01d";
                  font-family: FontAwesome;
                  font-size: 50px;
                  color: #fff;
                  opacity: .8;
                  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
                }
                &:hover:before {
                  color: #eee;
                }
              }
        }
    }

    .service-contact-container {
        margin-top: 20px;
        margin-bottom: 10px;

        .service-contact-btn {
            padding: 15px 12px;
            font-size: 1.2em;

            border: none;
            outline: none;

            background-color: @color-accent-primary;
            color: @color-font;

            &:hover {
                background-color: white;
                color: @color-accent-primary;
                cursor: pointer;
            }
        }
    }

    .service-price-container {
        margin-top: 15px;
        cursor: default;

        .service-price {
            font-size: 1.5em;
        }
    }


    .product-tabs {
        display: flex;
        flex-wrap: wrap;

        @tab-selected-color: @color-nav-bg;

        @media @responsive-first-size {
            margin-left: -5px;
            margin-right: -5px;
        }

        .tab-switch {
            position: absolute;
            opacity: 0;
            visibility: hidden;
            z-index: -1;
        }

        .tab-label {
            width: auto;
            padding: 20px;
            background: @color-header-bg;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.2em;
            color: @color-font;

            &:hover {
                background: @color-accent-primary;
            }

            &:active {
                background:  @tab-selected-color;
            }

            @media @responsive-first-size {
                padding-left: 10px;
                padding-right: 10px;
            }

            @media @responsive-second-size {
                width: 100%;
                font-size: 1.5em;

                border-bottom: 2px solid darken(@color-header-bg, 5%);
            }
        }

        .tab-switch:focus + .tab-label {
            z-index: 1;
        }

        .tab-switch:checked + .tab-label {
            background:  @tab-selected-color;
            color: @color-font;

            border: none;
        }

        .product-tab {
            display: none;
            padding: 20px;
            padding-bottom: 30px;

            width: 100%;

            background:  @tab-selected-color;

            line-height: 1.5em;

            p {
                line-height: 1.5em;
            }

            @media @responsive-second-size-min {
                order: 99;
            }

            @media @responsive-first-size {
                padding-left: 5px;
                padding-right: 5px;
            }

            .full-width {
                margin-left: -20px;
                margin-right: -20px;

                @media @responsive-first-size {
                    margin-left: -5px;
                    margin-right: -5px;
                }
            }
        }

        .tab-switch:checked + .tab-label + .product-tab {
            display: block;
        }
    }

    .downloads-tab {
        .attachment-link {
            cursor: pointer;
            font-size: 1.2em;
            display: block;

            .attachment-size {
                font-size: 0.8em;
            }

            &:hover {
                color: @color-accent-primary;
                text-decoration: underline;
            }
        }
    }
}


#color_to_pick_list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #color_to_pick_list:before, #color_to_pick_list:after {
    content: " ";
    display: table;
  }

  #color_to_pick_list:after {
    clear: both;
  }

  #color_to_pick_list li {
    float: left;
    margin: 0 3px 3px 0;
    padding: 1px;
    border: 1px solid #4d4d4d;
    width: 44px;
    height: 44px;
  }

  #color_to_pick_list li.selected {
    border: 1px solid #eee;
  }

  #color_to_pick_list li a.color_pick {
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }

  #color_to_pick_list li a.color_pick img {
    display: block;
    height: 40px;
    width: 40px;
  }

  @media @responsive-second-size {
      #attributes {
          fieldset {
              display: flex;
              flex-direction: column;
              align-items: center;
          }
      }
  }