// out: false
@import "variables.less";

.product_list {
    list-style: none;
    padding-left: 0;
    text-align: center;

    @media @responsive-second-size {
        padding: 10px;
    }


    .product-list-item {
        display: inline-block;
        vertical-align: top;
        float: none;

        width: 25%;

        @media @responsive-first-size {
            width: 50%;
        }

        @media @responsive-second-size {
            width: 100%;
        }


        &:hover {
            .product-title {
                color: @color-accent-primary;
            }
        }


        .product-img {
            margin-left: auto;
            margin-right: auto;
        }

        .product-title {
            text-align: center;
        }


        .product-price {
            text-align: center;
        }

        .product-description {
            display: none;
        }


    }
}
