// out: false
@import "variables.less";

.product_list {
    list-style: none;
    padding-left: 0;
    text-align: center;

    @media @responsive-second-size {
        padding: 10px;
    }


    .product-list-item {
        display: inline-block;
        vertical-align: top;
        float: none;

        width: 25%;

        @media @responsive-first-size {
            width: 50%;
        }

        @media @responsive-second-size {
            width: 100%;
        }
        .product-brand {
            display: block;
            font-family: 'Courier New';
            letter-spacing: 1px;
        }

        &:hover {
            .product-title {
                color: @color-accent-primary;
            }
        }


        .product-img {
            margin-left: auto;
            margin-right: auto;
        }

        .product-title {
            text-align: center;
        }


        .product-price {
            text-align: center;
        }

        .product-description {
            display: none;
        }


    }
}

#productsSortForm, #per-page-select {
    float: right;
    margin-left: 10px;
    text-align: left;

    .form-control {
        padding: 4px;
    }
}


ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    margin: 20px 0;

    display: inline-block;

    list-style: none;
    padding: 0;

    li {
        display: inline;

        span, a {
            position: relative;
            float: left;
            padding: 6px 12px;
            line-height: 1.2em;
            text-decoration: none;
            margin-left: -1px;

            text-align: center;
        }

        a {
            color: @color-font;
            cursor: pointer;

            &:hover {
                background-color: @color-dark-3;
            }
        }

        &.active {
            span {
                background-color: @color-accent-primary;
                z-index: 3;

                cursor: default;
            }
        }

        &.disabled {
            cursor: default;
            color: lighten(@color-dark-1, 10%);
        }

        &:first-child {
            span {
                margin-left: 0;

            }
        }

    }
}
