// out: false


@color-bg: #151515;
@color-font: #fff;


@color-accent-primary: #6700ff;
@color-accent-secondary: #e84545;

@color-accent-primary-font: #000;


/* Product Labels */
@color-label-comingsoon-bg: #a1ff44;
@color-label-comingsoon-fg: #000;

@color-label-bg: #121212;
@color-label-fg: @color-font;


/* Header */
@color-header-bg: #211f1f;
@color-nav-bg: #353535;
@nav-height: 3.5em;

@search-height: 2.5em;

/* Footer */
@color-footer-bg: @color-header-bg;



/* Responsive Media Queries */
@responsive-first-size: ~'screen and (max-width: 1000px)';
@responsive-second-size: ~'screen and (max-width: 800px)';
@responsive-third-size: ~'screen and (max-width: 700px)';
@responsive-third-size-min: ~'(min-width: 700px)';
@responsive-mobile: ~'only screen and (max-width: 500px)';

@max-screen-width: 1300px;