// out: false


@color-bg: #151515;
@color-font: #fff;


@color-accent-primary: #ff6000;
@color-accent-primary-darkened: darken(@color-accent-primary, 10%);

@color-dark-1: #211f1f;
@color-dark-2: #353535;
@color-dark-3: #242821;

@color-error: #dc3545;
@color-error-darkened: darken(@color-error, 10%);

@color-accent-primary-font: @color-font;


/* Product Labels */
@color-label-comingsoon-bg: #a1ff44;
@color-label-comingsoon-fg: #000;

@color-label-bg: #121212;
@color-label-fg: @color-font;


/* Header */
@color-header-bg: @color-dark-1;
@color-nav-bg: @color-dark-2;
@nav-height: 3.5em;

@search-height: 2.5em;

/* Footer */
@color-footer-bg: @color-header-bg;



/* Responsive Media Queries */
@responsive-first-size: ~'screen and (max-width: 1000px)';
@responsive-second-size: ~'screen and (max-width: 800px)';
@responsive-third-size: ~'screen and (max-width: 700px)';
@responsive-third-size-min: ~'(min-width: 700px)';
@responsive-mobile: ~'only screen and (max-width: 500px)';

@max-screen-width: 1300px;